<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spacex.www.mybatis.mapper.DynamicSqlMapper">

    <resultMap id="empAndDeptResultMapTwo" type="Emp">
        <id property="eid" column="eid"></id>
        <result property="empName" column="emp_name"></result>
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <result property="email" column="email"></result>

        <!--
            association:处理多对一的映射关系
            property: 需要处理多对一关系的属性名
            javaType: 该属性的类型
        -->
        <association property="dept" javaType="Dept">
            <id property="did" column="did"></id>
            <result property="deptName" column="dept_name"></result>
        </association>
    </resultMap>

    <!--List<Emp> getEmpByCondition(Emp emp);-->
    <select id="getEmpByCondition" resultMap="empAndDeptResultMapTwo">
        select e.*,d.dept_name from t_emp e left join t_dept d on d.did=e.did where 1=1
        <if test="empName!='' and empName !=null">and emp_name = #{empName}</if>
        <if test="age!='' and age !=null">and age = #{age}</if>
        <if test="sex!='' and sex !=null">and sex = #{sex}</if>
        <if test="email!='' and email !=null">and email = #{email}</if>
    </select>

    <!--List<Emp> getEmpByConditionTwo(Emp emp);-->
    <select id="getEmpByConditionTwo" resultMap="empAndDeptResultMapTwo">
        select e.*,d.dept_name from t_emp e left join t_dept d on d.did=e.did
        <where>
            <if test="empName!='' and empName !=null">and emp_name = #{empName}</if>
            <if test="age!='' and age !=null">and age = #{age}</if>
            <if test="sex!='' and sex !=null">and sex = #{sex}</if>
            <if test="email!='' and email !=null">and email = #{email}</if>
        </where>
    </select>

    <!--List<Emp> getEmpByConditionThree(Emp emp);-->
    <select id="getEmpByConditionThree" resultMap="empAndDeptResultMapTwo">
        select e.*,d.dept_name from t_emp e left join t_dept d on d.did=e.did
        <trim prefix="where" prefixOverrides="and|or">
            <if test="empName!='' and empName !=null">and emp_name = #{empName}</if>
            <if test="age!='' and age !=null">and age = #{age}</if>
            <if test="sex!='' and sex !=null">and sex = #{sex}</if>
            <if test="email!='' and email !=null">and email = #{email}</if>
        </trim>
    </select>

    <!--List<Emp> getEmpByConditionFour(Emp emp);-->
    <select id="getEmpByConditionFour" resultMap="empAndDeptResultMapTwo">
        select e.*,d.dept_name from t_emp e left join t_dept d on d.did=e.did
        <where>
            <choose>
                <when test="empName!='' and empName !=null">emp_name = #{empName}</when>
                <when test="age!='' and age !=null">age = #{age}</when>
                <when test="sex!='' and sex !=null">sex = #{sex}</when>
                <when test="email!='' and email !=null">email = #{email}</when>
                <otherwise>e.did = 1</otherwise>
            </choose>
        </where>
    </select>

    <!--int deleteMoreByArray(@Param("eids")int[] eids);-->
    <!--    <delete id="deleteMoreByArray">-->
    <!--        delete from t_emp where eid in-->
    <!--        <foreach collection="eids" item="eid" open="(" close=")" separator=",">-->
    <!--            #{eid}-->
    <!--        </foreach>-->
    <!--    </delete>-->

    <delete id="deleteMoreByArray">
        delete from t_emp where
        <foreach collection="eids" item="eid" open="(" close=")" separator="or">
            eid= #{eid}
        </foreach>
    </delete>

    <!--int insertMoreByList(@Param("emps") List<Emp> emps);-->
    <insert id="insertMoreByList">
        insert into t_emp values
        <foreach collection="emps" item="emp" separator=",">
            (#{emp.eid},#{emp.empName},#{emp.age},#{emp.sex},#{emp.email},null)
        </foreach>
    </insert>

    <sql id="empColums">
        eid,emp_name,age,sex,email
    </sql>

    <!--List<Emp> queryAllEmp();-->
    <select id="queryAllEmp" resultMap="empAndDeptResultMapTwo">
        select <include refid="empColums"></include> from t_emp
    </select>


</mapper>