<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--连接信息-->
    <properties resource="mybatis/db.properties"/>

    <settings>
       <!-- &lt;!&ndash;将表中字段的下划线自动转换为驼峰&ndash;&gt;
        <setting name="mapUnderscoreToCamelCase" value="true"/>-->
        <!--开启延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.spacex.www.mybatis.entity"/>
    </typeAliases>

    <plugins>
        <!--设置分页插件-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>

    <!--配置连接数据库的环境-->
    <environments default="development">
        <environment id="development">
            <!--事务管理器的类型-->
            <transactionManager type="JDBC"/>
            <!--数据源-->
            <!--<dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://106.14.253.27:3306/spacex?useUnicode=true&amp;useSSL=false&amp;characterEncoding=utf-8&amp;serverTimezone=Asia/Shanghai"/>
                <property name="username" value="root"/>
                <property name="password" value="ABCabc123..."/>
            </dataSource>-->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--引入映射文件-->
    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/SqlMapper.xml"/>
        <mapper resource="mappers/EmpMapper.xml"/>
        <mapper resource="mappers/DeptMapper.xml"/>
        <mapper resource="mappers/DynamicSqlMapper.xml"/>
        <mapper resource="mappers/CacheMapper.xml"/>
        <mapper resource="mappers/PageHelperMapper.xml"/>
    </mappers>
</configuration>


